@font-face {
  font-family: "Clash Grotesk";
  src: url("../fonts/ClashGrotesk-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("../fonts/ClashGrotesk-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("../fonts/ClashGrotesk-Variable.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSerif-Italic.ttf");
  font-style: italic;
}
body {
  margin: 0;
}

*,
*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  background-color: #F5F5F5;
  margin: 0 auto;
  padding: 0 100px 0 100px;
}

.container_big {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 10px;
}

header {
  background-color: #F5F5F5;
}
header .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .header .header_header {
  width: 50%;
  padding: 54px 0 0 0;
}
header .container .header .header_header a {
  font-family: "Clash Grotesk";
  color: #121212;
  font-size: 36px;
  font-weight: 400;
}
header .container .header .header_header h3 {
  font-family: "Clash Grotesk";
  color: #121212;
  font-size: 14px;
  font-weight: 400;
}
header .container .header .header_nav {
  width: 35%;
  padding: 50px 0 0 0;
}
header .container .header .header_nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .header .header_nav nav ul li {
  margin: 0 159px 0 0;
  padding: 0 0 15px 0;
}
header .container .header .header_nav nav ul li a {
  font-family: "Clash Grotesk";
  color: #6D7775;
  font-size: 14px;
  font-weight: 400;
}
header .container .header .header_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 20%;
  border-bottom: solid 1px #121212;
  padding: 67px 0 0 0;
}
header .container .header .header_link a {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #121212;
  font-size: 23px;
  font-weight: 400;
  padding: 0 10px 0 0;
}

section {
  background-color: #F5F5F5;
  padding: 90px 0 0 0;
}
section .container .school_header h2 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  line-height: 0.9;
  padding: 0 0 15px 0;
  color: #121212;
  font-size: 140px;
  font-weight: 400;
}
section .container .school_img img {
  width: 100%;
}
section .container .school_button {
  padding: 70px 0 0 0;
}
section .container .school_button a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  font-family: "Clash Grotesk";
  width: 100%;
  height: 100px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-image: url("../css/images/borderLink.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #121212;
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0 0 0;
}
section .container .school_button a:hover {
  scale: 1.1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .container .education_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section .container .education_flex .education_left {
  width: 50%;
}
section .container .education_flex .education_left h2 {
  width: 35%;
  height: 16%;
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  background-image: url("../css/images/education_border.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 8px 27px;
  color: #1D1D1D;
  font-size: 30px;
  font-weight: 400;
}
section .container .education_flex .education_right {
  width: 50%;
}
section .container .education_flex .education_right .education_header h2 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  line-height: 0.9;
  padding: 0 0 21px 0;
  color: #1D1D1D;
  font-size: 64px;
  font-weight: 400;
}
section .container .education_flex .education_right .education_header h2 span {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #E87594;
  font-size: 64px;
  font-weight: 400;
}
section .container .education_flex .education_right .education_header p {
  font-family: "Clash Grotesk";
  line-height: 1.1;
  color: #112221;
  font-size: 23px;
  font-weight: 400;
}
section .container .education_flex .education_right .education_slider .buttons_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 50px 0 20px 0;
}
section .container .education_flex .education_right .education_slider .buttons_slider .prev {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 20px 0 0;
}
section .container .education_flex .education_right .education_slider .buttons_slider .prev:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section .container .education_flex .education_right .education_slider .buttons_slider .next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section .container .education_flex .education_right .education_slider .buttons_slider .next:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section .container .education_flex .education_right .education_slider .content_slider .content_slider_inner .slides .slides_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section .container .education_flex .education_right .education_slider .content_slider .content_slider_inner .slides .slides_slider .card_slider {
  width: 33%;
  height: 220px;
  border: solid 1px #6D7775;
  margin: 0 10px 0 0;
}
section .container .education_flex .education_right .education_slider .content_slider .content_slider_inner .slides .slides_slider .card_slider .number {
  text-align: center;
  font-family: "Clash Grotesk";
  padding: 50px 0 0 0;
  color: #1D1D1D;
  font-size: 78px;
  font-weight: 400;
}
section .container .education_flex .education_right .education_slider .content_slider .content_slider_inner .slides .slides_slider .card_slider .number_content {
  text-align: center;
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  padding: 0 0 59px 0;
  color: #1D1D1D;
  font-size: 16px;
  font-weight: 600;
}
section .container .education_flex .education_right .education_slider .content_slider .content_slider_inner .slides .slides_slider .card_slider:last-child {
  margin: 0 0 0 0;
}
section .container .education_flex .education_right .education_started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
section .container .education_flex .education_right .education_started .education_link {
  width: 28%;
  border-bottom: solid 1px #121212;
  padding: 50px 0 0 0;
}
section .container .education_flex .education_right .education_started .education_link a {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #121212;
  font-size: 23px;
  font-weight: 400;
  padding: 0 10px 0 0;
}

section .container .advantages_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section .container .advantages_flex .advantages_left {
  width: 50%;
}
section .container .advantages_flex .advantages_left h2 {
  width: 38%;
  height: 7%;
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  background-image: url("../css/images/education_border.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 10px 25px;
  color: #1D1D1D;
  font-size: 30px;
  font-weight: 400;
}
section .container .advantages_flex .advantages_left img {
  width: 100%;
  padding: 175px 60px 0 0;
}
section .container .advantages_flex .advantages_right {
  width: 50%;
}
section .container .advantages_flex .advantages_right h2 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  line-height: 1;
  color: #1D1D1D;
  font-size: 64px;
  font-weight: 400;
}
section .container .advantages_flex .advantages_right h2 span {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #3441b9;
  font-size: 64px;
  font-weight: 400;
}
section .container .advantages_flex .advantages_right .advantages_content {
  padding: 50px 0 0 0;
}
section .container .advantages_flex .advantages_right .advantages_content .content h5 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #112221;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0 0 0;
}
section .container .advantages_flex .advantages_right .advantages_content .content p {
  font-family: "Clash Grotesk";
  border-bottom: solid 1px #6D7775;
  padding: 0 0 40px 0;
  color: #6D7775;
  font-size: 16px;
  font-weight: 400;
}
section .container .advantages_flex .advantages_right .advantages_content .margin {
  margin: 20px 0 0 0;
}

.section_courses .container_big {
  background-image: url("../css/images/bg_courses.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1660px;
  display: block;
}
.section_courses .container_big .container {
  background-color: #584871;
  border-radius: 5%;
}
.section_courses .container_big .container .courses_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px rgba(247, 246, 242, 0.5);
  padding: 100px 0 50px 0;
}
.section_courses .container_big .container .courses_flex .courses_left h2 {
  height: 65%;
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  background-image: url("../css/images/border_courses.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  color: #F5F5F5;
  font-size: 30px;
  font-weight: 400;
  padding: 8px 25px;
}
.section_courses .container_big .container .courses_flex .courses_right h3 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  line-height: 0.9;
  color: #F5F5F5;
  font-size: 78px;
  font-weight: 400;
  padding: 0 0 20px 0;
}
.section_courses .container_big .container .courses_flex .courses_right p {
  font-family: "Clash Grotesk Variable";
  color: #F5F5F5;
  font-size: 23px;
  font-weight: 400;
}
.section_courses .container_big .container .corses_items {
  padding: 0 0 100px 0;
}
.section_courses .container_big .container .corses_items .courses_item {
  height: 260px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border-bottom: solid 1px rgba(247, 246, 242, 0.5);
  padding: 50px 0 0 0;
}
.section_courses .container_big .container .corses_items .courses_item .courses_item_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section_courses .container_big .container .corses_items .courses_item .courses_item_flex h4 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  opacity: 0.7;
  color: #F7F6F2;
  font-size: 36px;
  font-weight: 400;
}
.section_courses .container_big .container .corses_items .courses_item .courses_item_flex .courses_click {
  position: relative;
  width: 30px;
  height: 20px;
}
.section_courses .container_big .container .corses_items .courses_item .courses_item_flex .courses_click::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #F7F6F2;
}
.section_courses .container_big .container .corses_items .courses_item .courses_item_flex .courses_click::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #F7F6F2;
}
.section_courses .container_big .container .corses_items .courses_item h2 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #F7F6F2;
  font-size: 78px;
  font-weight: 400;
  padding: 40px 0 0 0;
}
.section_courses .container_big .container .corses_items .courses_item .courses_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 0 70px 0;
}
.section_courses .container_big .container .corses_items .courses_item .courses_content p {
  width: 50%;
  font-family: "Clash Grotesk Variable";
  color: #F7F6F2;
  font-size: 23px;
  font-weight: 400;
  padding: 20px 0 0 0;
}
.section_courses .container_big .container .corses_items .courses_item .courses_content .btn_learn {
  width: 50%;
  text-align: center;
  padding: 10px 0 0 50px;
}
.section_courses .container_big .container .corses_items .courses_item .courses_content .btn_learn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  background-image: url("../css/images/learnMore.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #F7F6F2;
  font-size: 25px;
  font-weight: 600;
  padding: 25px 200px;
}
.section_courses .container_big .container .corses_items .courses_item .courses_content .btn_learn a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section_courses .container_big .container .corses_items .courses_item:hover {
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.section_courses .container_big .container .corses_items .courses_item:hover .courses_content {
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}
.section_courses .container_big .container .corses_items .courses_item:hover .courses_click::after {
  -webkit-transform: rotate(-44deg);
      -ms-transform: rotate(-44deg);
          transform: rotate(-44deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.section_courses .container_big .container .corses_items .courses_item:hover .courses_click::before {
  -webkit-transform: rotate(44deg);
      -ms-transform: rotate(44deg);
          transform: rotate(44deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.our_team {
  padding: 143px 0 140px 0;
}
.our_team .container .our_team_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our_team .container .our_team_flex .our_team_left {
  width: 63%;
}
.our_team .container .our_team_flex .our_team_left h2 {
  width: 38%;
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  background-image: url("../css/images/education_border.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  color: #1D1D1D;
  font-size: 30px;
  font-weight: 400;
  padding: 7px 25px;
}
.our_team .container .our_team_flex .our_team_right {
  width: 83%;
}
.our_team .container .our_team_flex .our_team_right h3 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  line-height: 0.9;
  color: #1D1D1D;
  font-size: 64px;
  font-weight: 400;
}
.our_team .container .our_team_flex .our_team_right h3 span {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #3441b9;
  font-size: 64px;
  font-weight: 400;
}
.our_team .container .our_team_flex .our_team_right p {
  font-family: "Clash Grotesk";
  color: #112221;
  font-size: 23px;
  font-weight: 400;
  padding: 20px 0 50px 0;
}
.our_team .container .cards_teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our_team .container .cards_teacher .card_teacher {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  padding: 0 20px 0 0;
}
.our_team .container .cards_teacher .card_teacher:last-child {
  padding: 0 0 0 0;
}
.our_team .container .cards_teacher .card_teacher:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.our_team .container .cards_teacher .card_teacher img {
  width: 100%;
}
.our_team .container .cards_teacher .card_teacher h3 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #1D1D1D;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0 10px 0;
}
.our_team .container .cards_teacher .card_teacher p {
  font-family: "Clash Grotesk";
  line-height: 0.9;
  color: #112221;
  font-size: 19px;
  font-weight: 400;
}

.price {
  padding: 0 0 0 0;
}
.price .container .price_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price .container .price_flex .price_left {
  width: 50%;
}
.price .container .price_flex .price_left h2 {
  width: 21%;
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  background-image: url("../css/images/price_border.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  color: #1D1D1D;
  font-size: 30px;
  font-weight: 400;
  padding: 7px 25px;
  margin: 0 0 109px 0;
}
.price .container .price_flex .price_left .price_discont {
  background-image: url("../css/images/discount_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 277px;
  margin: 0 0 20px 0;
}
.price .container .price_flex .price_left .price_discont:last-child {
  margin: 0 0 0 0;
}
.price .container .price_flex .price_left .price_discont h3 {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  text-align: center;
  color: #F5F5F5;
  font-size: 78px;
  font-weight: 400;
  padding: 35px 0 10px 0;
}
.price .container .price_flex .price_left .price_discont .small_header {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  opacity: 0.7;
  color: #F7F6F2;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 5px 39px;
}
.price .container .price_flex .price_left .price_discont p {
  font-family: "Clash Grotesk";
  color: #F7F6F2;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 20px 39px;
}
.price .container .price_flex .price_left .price_discont .promo_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price .container .price_flex .price_left .price_discont .promo_flex .promo_left {
  padding: 11px 20px 0 0;
}
.price .container .price_flex .price_left .price_discont .promo_flex .promo_left p {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #F7F6F2;
  font-size: 16px;
  font-weight: 600;
}
.price .container .price_flex .price_left .price_discont .promo_flex .promo_right {
  background-image: url("../css/images/copyBorder.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.price .container .price_flex .price_left .price_discont .promo_flex .promo_right .promo_cod_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price .container .price_flex .price_left .price_discont .promo_flex .promo_right .promo_cod_flex p {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  color: #F7F6F2;
  font-size: 18px;
  font-weight: 400;
  padding: 9px 20px 9px 16px;
}
.price .container .price_flex .price_left .price_discont .promo_flex .promo_right .promo_cod_flex img {
  height: 1%;
  width: 100%;
  padding: 7px 12px 0 0;
}
.price .container .price_flex .price_right {
  width: 50%;
  padding: 0 0 0 30px;
}
.price .container .price_flex .price_right h2 {
  font-family: "Clash Grotesk Variable";
  text-transform: uppercase;
  color: #112221;
  font-size: 60px;
  font-weight: 400;
  padding: 0 0 20px 0;
}
.price .container .price_flex .price_right p {
  font-family: "Clash Grotesk";
  color: #112221;
  font-size: 19px;
  font-weight: 400;
  padding: 30px 0 30px 0;
}
.price .container .price_flex .price_right .info_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price .container .price_flex .price_right .info_flex .info_left {
  width: 50%;
  padding: 0 40px 0 0;
}
.price .container .price_flex .price_right .info_flex .info_left p {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  border-bottom: solid 1px #6D7775;
  color: #1D1D1D;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 40px 0;
  margin: 0 0 20px 0;
}
.price .container .price_flex .price_right .info_flex .info_left p:last-child {
  margin: 0 0 0 0;
}
.price .container .price_flex .price_right .info_flex .cost_right {
  width: 50%;
}
.price .container .price_flex .price_right .info_flex .cost_right p {
  font-family: "Clash Grotesk";
  text-transform: uppercase;
  border-bottom: solid 1px #6D7775;
  color: #1D1D1D;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 40px 0;
  margin: 0 0 20px 0;
}
.price .container .price_flex .price_right .info_flex .cost_right p:last-child {
  margin: 0 0 0 0;
}