section {
    .container {

        .education_flex {
            display: flex;

            .education_left {
                width: 58%;

                h2 {
                    width: 35%;
                    height: 16%;
                    font-family: 'Clash Grotesk';
                    text-transform: uppercase;
                    background-image: url('../css/images/education_border.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: top;
                    @include padding(8px 27px);
                    @include font($black-color2, 30px, 400);
                }
            }
            .education_right {
                width: 59%;

                .education_header {

                    h2 {
                        font-family: 'Clash Grotesk';
                        text-transform: uppercase;
                        line-height: .9;
                        @include padding(0 0 21px 0);
                        @include font($black-color2, 64px, 400);
                        span {
                            font-family: 'Clash Grotesk';
                            text-transform: uppercase;
                            @include font($pink-color, 64px, 400);
                        }
                    }
                    p {
                        font-family: 'Clash Grotesk';
                        line-height: 1.1;
                        @include font($black-color3, 23px, 400);
                    }
                }
                .education_slider {

                    .buttons_slider {

                        button {

                        }
                    }
                    .content_slider {
                        display: flex;
                        justify-content: space-between;
                        .card_slider {
                            width: 33%;
                            height: 220px;
                            border: solid 1px $gray-color;
                            @include margin(0 10px 0 0);
                            .number {
                                text-align: center;
                                font-family: 'Clash Grotesk';
                                @include padding(50px 0 0 0);
                                @include font($black-color2, 78px, 400);
                            }
                            .number_content {
                                text-align: center;
                                font-family: 'Clash Grotesk';
                                text-transform: uppercase;
                                @include padding(0 0 59px 0);
                                @include font($black-color2, 16px, 600);
                            }
                        }
                        .card_slider:last-child {
                            @include margin(0 0 0 0);
                        }
                    }
                }
                .education_started {
                    display: flex;
                    justify-content: right;

                    .education_link {
                            width: 28%;
                            border-bottom: solid 1px $black-color;
                            @include padding (50px  0 0 0);
                        a {
                            font-family: 'Clash Grotesk';
                            text-transform: uppercase;
                            @include font($black-color, 23px, 400);
                            @include padding(0 10px 0 0);
                        }
                    }
                }
            }
        }
    }
}