@font-face {
    font-family: 'Clash Grotesk';
    src: url('../fonts/ClashGrotesk-Medium.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Clash Grotesk';
    src: url('../fonts/ClashGrotesk-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Clash Grotesk';
    src: url('../fonts/ClashGrotesk-Variable.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Italic.ttf');
    font-style: italic;
}